<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<!-- 实现接口ApplicationContextAware 获得 Spring的Bean -->
	<bean id="springContext" class="com.netopstec.util.SpringUtil"></bean>
</beans>